a {
    background-color: #ffffff;
    padding: 8px;
}

.inner-body {
    background-color: #ffffff;
    color: #000000;
    display: table;
    width: 100%;
    /* Hey CJ can you fix this thanks its uneven otherwise idk why */
    max-width: 1200px
}

.inner-body table {
    border-collapse: separate;
}

.inner-body #table tbody {
    float: left;
    padding-left: 2px;
    outline: 1px dotted #afafaf;
}

.inner-body #table-two tbody {
    float: left;
    padding-left: 2px;
    outline: 1px dotted #afafaf;
}

#main-image {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    color: #000000;
    display: flex;
    padding: 8px 8px;
}

#main-image img {
    height: 64px;
    width: 64px;
}

#main-image h4 {
    color: #000000;
    padding: 0px 10px;
    text-decoration: none;
}

#ratings, #friends {
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    color: #000000;
    padding: 10px;
}

#userpage-left {
    float: left;
    width: 50%;
}

#userpage-right {
    float: right;
    width: 50%;
}

/*************************************************************************/

/* General styling */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.navbar {
    border-bottom: 1px solid #dfdfdf;
    background-color: #f8f8f8;
    overflow: auto;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar li {
    display: inline;
}

.navbar li a {
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar li a:hover {
    background-color: #cccccc;
    color: #ffffff;
}

h3 {
    text-align: center;
    margin-top: 20px;
}

.inner-body {
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

#main-landing p {
    font-size: 16px;
    margin: 0;
}


/* Button styling */

button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

    button:hover {
        background-color: #0056b3;
    }

/* Footer styling */


footer {
    text-align: center;
    font-size: 10px;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f8f8f8;
    border-top: 1px solid #dfdfdf;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .inner-body {
        max-width: 90%;
        padding: 10px;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar li a {
        display: block;
        width: 100%;
        text-align: center;
    }
}